fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
asyncpg
redis
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
httpx
prometheus-client
alembic
pydantic
bcrypt
websockets
