fastapi
uvicorn[standard]
gunicorn
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
sqlalchemy
psycopg2-binary
asyncpg
redis
httpx
python-multipart
email-validator
prometheus-client
alembic
pydantic
bcrypt
